* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body{
  overflow-x: hidden;
}
.nav {
  /* padding: ; */
  background-color: #fff;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 90px;
  height: 90px;
}

.green-text {
  color: #3db166 !important;
}

.links {
  margin: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  height: 90px;
}

.link {
  margin: 0 1rem;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  background: transparent;
  border: none;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link:hover a {
  color: #3db166;
}

.link a {
  text-decoration: none;
  color: #000;
}

.menu {
  z-index: 1000;
  position: absolute;
  width: 25%;
  padding: 2rem 1rem;
  background: #fff;
  left: 57%;
  top: 7.9rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* display: grid; */
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
  display: none;
}
.menu11{
  z-index: 1000;
  position: absolute;
  width: 25%;
  padding: 2rem 1rem;
  background: #fff;
  left: 67%;
  top: 7.9rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* display: grid; */
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
  display: none;
}
.menu-4 {
  z-index: 1000;
  position: absolute;
  width: 55%;
  padding: 2rem 1rem;
  background: #fff;
  left: 30%;
  top: 7.9rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* display: grid; */
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem;
  display: none;
}

.menu-div {
  padding: 1.1rem;
}

.menu-d {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  height: fit-content;
}

.border-left {
  border-left: 1px solid #ccc;
}

.border-b {
  border-bottom: 1px solid #ccc;
}

.menu-head {
  font-size: 17px;
  font-weight: 700;
  color: #192f59;
  font-family: "Poppins", sans;
  padding: 7px 3px;
}

.menu-head:hover {
  background: rgba(0, 0, 0, 0.1);
}

.menu-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  margin-top: 10px;
}

.menu-link {
  text-decoration: none;
  font-size: 14px;
  color: #585858;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  background: transparent;
  border: none;
  padding: 7px 3px;
  width: 100%;
}

.menu-link:hover {
  color: #192f59;
  background: rgba(0, 0, 0, 0.1);
}

.show {
  display: block;
}

.mobile-menu-btn {
  background: transparent;
  border: none;
  display: none;
}

.mobile-menu-items {
  display: none;
}

@media screen and (max-width: 1340px) {
  .nav {
    padding: 0 1rem;
  }
  .charusat {
    margin-left: 1rem !important;
  }
}

.navbar {
  display: none !important;
}

@media screen and (max-width: 990px) {
  .charusat-main {
    display: none;
  }

  .header {
    display: none;
  }

  .nav-links {
    display: none;
  }

  .mobile-menu-btn {
    margin: 1rem 0;
    display: block;
  }

  .navbar {
    display: block !important;
  }
}
